<h1><b>TinyApp</b></h1>
<p>
    <% if(username === undefined){ %>
<form class="form-inline" action="/login" method="POST">
    <input class="form-control" type="text" placeholder="username" name="username" style="width: 300px; margin: 1em">
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<% }else{ %>
<p><h4><b><%= username %></h4></b>
    <form class="form-inline" action="/logout" method="POST" style=display:inline>
    <button type="submit" class="btn btn-primary">Logout</button>
</form>
</p>
<% } %>