<div class="p-3 mb-2 bg-light text-dark">
<h1><b>TinyApp</b></h1>
<p>
    <% if(user){ %>
        <a href="/urls/">URLs</a> | <a href="/urls/new/">Create New TinyURL</a>
        <p>Logged in as: <b><%= user.email %></b></p>
        <form class="form-inline" action="/logout" method="POST">
            <div class="form-group mb-2"></div>
                <button type="submit" class="btn btn-primary">Logout</button>
            </div>
        </form>
        <p></p>
    <% } else{ %> 
        <p><a href="/login">Login</a> | <a href="/register">Register</a></p>
    <% } %>