<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-file=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <title>TinyApp</title>
    </head>

    <body style="font-size:20px; padding:50px;">
        <header>
            <% include ./partials/_header %>
        </header>
        <a href="#">Create New TinyURL</a> 
        <p>
        <h2>My URLs</h2>
       <ul>
        <% for (shortUrl in urls) { %>
            <li>
                <b><%= shortUrl %></b> -> <%= urls[shortUrl] %>
                <p style="padding-right: 5px;"><button type="submit" form="deleteform" value=Submit><form method="POST" action="/urls/<%= shortUrl %>/delete" id="deleteform">Delete</form></button></p>
                <% }; %>
            </li>
       
       </ul>

    </body>
</html>